**/build/
**/bin/
**/out/
**/.classpath
**/.project
**/.settings
.gradle
**.ipr
**.iml
**.iws
.idea
venv

# publishing secrets
secrets/signing-key

# IDE related files
**/.DS_Store
**/.claude
**/.cursor
