# Jenkins -> Spinnaker
trigger.properties

build/
/bin/
*/bin/
.classpath
.project
.gradle
.settings
.idea
**/*.ipr
**/*.iws
**/*.iml
business-logic/out
common-interfaces/out
io/out
publish-workflow/out
server/out
