#**
 *  Copyright 2017 Netflix, Inc.
 *
 *     Licensed under the Apache License, Version 2.0 (the "License");
 *     you may not use this file except in compliance with the License.
 *     You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *     Unless required by applicable law or agreed to in writing, software
 *     distributed under the License is distributed on an "AS IS" BASIS,
 *     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *     See the License for the specific language governing permissions and
 *     limitations under the License.
*#

<b>TYPE:</b> &nbsp;&nbsp; <span style="font-family: monospace;">$schemaDisplay.getSchema().getName()</span>

#showSchema($schemaDisplay "")

#macro(showSchema $schemaDisplay)
	
	#set($typeName = "$schemaDisplay.getTypeName()")

	<ul>
		#foreach($field in $schemaDisplay.getFields())
			<li>
				<span style="font-family: monospace;">
					#if($field.getReferencedType())
						#if($field.getReferencedType().isExpanded())
							<a href="$basePath/schema?type=$type&collapse=$field.getFieldPath()">$field.getFieldName()</a>
						#else
							<a href="$basePath/schema?type=$type&expand=$field.getFieldPath()">$field.getFieldName()</a>
						#end
						
						($field.getReferencedType().getTypeName() - $field.getReferencedType().getSchema().getSchemaType())
					#else
						$field.getFieldName() ($field.getFieldType())
					#end
					
					#if($field.isSearchable())
						<a href="$basePath/query?type=$typeName&field=$field.getFieldName()">search</a>
					#end
				</span>
				
				#if($field.getReferencedType() && $field.getReferencedType().isExpanded())
					#showSchema($field.getReferencedType())
				#end
			</li>
		#end
	</ul>
	
#end
