#**
 *  Copyright 2017 Netflix, Inc.
 *
 *     Licensed under the Apache License, Version 2.0 (the "License");
 *     you may not use this file except in compliance with the License.
 *     You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *     Unless required by applicable law or agreed to in writing, software
 *     distributed under the License is distributed on an "AS IS" BASIS,
 *     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *     See the License for the specific language governing permissions and
 *     limitations under the License.
*#

#if($queryResult)
	<b>Augment Current Query:</b>
#else
	<b>Search:</b>
#end

<form action="$basePath/query">
	
	<table>
		<tr>
			<th>Type:</th>
			<th>Field Name:</th>
			<th>Field Value:</th>
			<td />
		</tr>
		<tr>
			<td>
				<select name="type">
					<option>ANY TYPE</option>
					#foreach($type in $allTypes)
						<option#if($type.equals($selectedType)) selected#end>$esc.html($type)</option>
					#end
				</select>
			</td>
			<td><input type="text" name="field"#if($selectedField) value="$esc.html($selectedField)"#end></td>
			<td><input type="text" name="queryValue" size="85"></td>
			<td><input type="submit"></td>
		</tr>
	</table>
	
</form>

#if($queryResult)

Current Query: <span style="font-family: monospace;">$esc.html($queryResult.getQueryDisplayString())</span> <a href="$basePath/query?clear=true">clear</a>

<p/>

#if($queryResult.getQueryClauses().size() > 1)Modify Query:
    <ul>
        #foreach($clause in $queryResult.getQueryClauses())
            <li>
                <span style="font-family: monospace;">
                    #if($clause.getType())$clause.getType().#end$clause.getField() = $clause.getValue()
                    <a href="$basePath/query?removeField=$esc.url($clause.getField())">remove</a>
                </span>
            </li>
        #end
    </ul>
<p/>
#end

RESULTS:

<ul>
	#foreach($typeMatches in $queryResult.getTypeMatches())
		<li>
			<span style="font-family: monospace;">
				<a href="$basePath/type?type=$esc.url($typeMatches.getTypeName())">$esc.html($typeMatches.getTypeName())</a>: $typeMatches.getNumMatches() records match
			</span>
		</li>
	#end
</ul>
#end