<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">

<module name="Checker">
  <module name="TreeWalker">
  <!-- Import rules -->
    <module name="AvoidStarImport"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>
    <!-- The vanilla ImportOrder module doesn't enforce separation between static and non-static imports. -->
    <module name="CustomImportOrder">
        <property name="customImportOrderRules"
            value="STATIC###THIRD_PARTY_PACKAGE"/>
        <property name="standardPackageRegExp" value=""/> <!-- don't special case java/javax -->
        <property name="sortImportsInGroupAlphabetically" value="true"/>
        <property name="separateLineBetweenGroups" value="true"/>
    </module>
  </module>
    <module name="SuppressionFilter">
        <property name="file" value="${config_loc}/suppression.xml"/>
    </module>
</module>
