
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}

.ui-widget-tab-header {
    /* border: 1px solid silver;*/
    /* background: #b4e1f8 url("images/ui-bg_gloss-wave_100_b4e1f8_500x100.png") 50% 50% repeat-x; */
    font-weight: bold;
    font-size: 1.1em;
    font-family: Verdana,Arial,sans-serif;
    border-bottom: 1px silver solid;
    /* border-bottom: 2px #428BCA solid; */
    /* this effects the bottom line of tabs*/
}

.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: 0;
}

.ui-tabs .ui-tabs-nav {
	margin: 0 0 10 10; /* top flushed */
	padding: 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
    border: none;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 1px; /* 1 */
    padding-left: 2px;
	background: none;
}


/* Interaction states
----------------------------------*/
.ui-tabs .ui-tabs-nav .ui-state-default {
    background: transparent; 
    border: none; 
} 

.ui-tabs .ui-tabs-nav .ui-state-default a { 
    color:#229cb3;
    padding-top: 10;
    padding-bottom:10;
} 

.ui-tabs .ui-tabs-nav .ui-state-active a { 
    color:#1d8499;
    padding-top: 10;
    padding-bottom:10;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
    background: transparent url("ui-bg_glass_80_4E98EC_1x400.png") left bottom repeat-x;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover {
    background-color: #eeeeee;
}

/************ table ****************/
.ui-widget-table-header {
/*     border: 1px solid silver; */
    border: none;
    background: #F8F8F8;
    color: #222222;
    font-weight: bold;
}

/* Interaction states
----------------------------------*/
/*
 * 
 * */
#okeanos-tabs { 
    border: none; 
}

#okeanos-tabs > .ui-tabs-nav {
	margin: 0;
	padding-left: 100;
    background: #3a5469;
    height:60
}

#okeanos-tabs > .ui-widget-header { 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
}

#okeanos-tabs > .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
}

#okeanos-tabs > .ui-tabs-nav .ui-state-active { 
    background: transparent url("ui-bg_glass_80_4E98EC_1x400.png") left top repeat-x;
    border: none;
    margin-top:0px;
}

#okeanos-tabs > .ui-tabs-nav .ui-state-default a { 
    color: #dddddd;
    padding-top: 15;
    padding-bottom:15;
    font-size: larger;
}

#okeanos-tabs > .ui-tabs-nav .ui-state-active a { 
    color: #eeeeee; 
    padding-top: 15;
    padding-bottom:15;
    font-size:larger;
}

#okeanos-tabs > .ui-tabs-nav li.ui-state-hover {
    background-color: #45657E;
}

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 0px;
}
