#**
 *  Copyright 2016 Netflix, Inc.
 *
 *     Licensed under the Apache License, Version 2.0 (the "License");
 *     you may not use this file except in compliance with the License.
 *     You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *     Unless required by applicable law or agreed to in writing, software
 *     distributed under the License is distributed on an "AS IS" BASIS,
 *     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *     See the License for the specific language governing permissions and
 *     limitations under the License.
 *#

<table border="1" cellpadding="5">
    <tr style="background-color:#6885B9">
        <th colspan="6">Summary</th>
        <th>Heap From: $fromHeap</th>
        <th>Heap To: $toHeap</th>
        <th colspan="2">Heap Diff: <span class="$diffHeap_cssClass"> $diffHeap </span></th>
    </tr>
    <tr style="background-color:#9EBFF9">
        <th>Type</th>
        <th><a href="$path/?sortBy=diffs"># Total Diffs</a></th>
        <th><a href="$path/?sortBy=unmatchedFrom"># FROM - Extra</a></th>
        <th><a href="$path/?sortBy=unmatchedTo"># TO - Extra</a></th>
        <th><a href="$path/?sortBy=fromCount">FROM - Item Count</a></th>
        <th><a href="$path/?sortBy=toCount">TO - Item Count</a></th>
        <th><a href="$path/?sortBy=fromHeap">FROM - Heap Footprint</a></th>
        <th><a href="$path/?sortBy=toHeap">TO - Heap Footprint</a></th>
        <th><a href="$path/?sortBy=fromHole">FROM - Hole Footprint</a></th>
        <th><a href="$path/?sortBy=toHole">TO - Hole Footprint</a></th>
    </tr>

    #foreach($typeOverview in $typeOverviewEntries)
        <tr bgcolor="$typeOverview.getBgColor()" align="right">
            <td>
                <a href="$path/typediff?type=$typeOverview.getTypeName()">
                    $typeOverview.getTypeName()
                </a>
            </td>
            <td>$typeOverview.getTotalDiffScore()</td>
            <td>$typeOverview.getUnmatchedInFrom()</td>
            <td>$typeOverview.getUnmatchedInTo()</td>
            <td>$typeOverview.getTotalInFrom()</td>
            <td>$typeOverview.getTotalInTo()</td>
            <td>$typeOverview.getHeapInFromFormatted()</td>
            <td>$typeOverview.getHeapInToFormatted()</td>
            <td>$typeOverview.getHoleInFromFormatted()</td>
            <td>$typeOverview.getHoleInToFormatted()</td>
        </tr>
    #end
</table>
