#**
 *  Copyright 2016 Netflix, Inc.
 *
 *     Licensed under the Apache License, Version 2.0 (the "License");
 *     you may not use this file except in compliance with the License.
 *     You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *     Unless required by applicable law or agreed to in writing, software
 *     distributed under the License is distributed on an "AS IS" BASIS,
 *     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *     See the License for the specific language governing permissions and
 *     limitations under the License.
*#

<script>

function expandGroup(expandGroupId) {
	document.getElementById(expandGroupId).innerHTML = httpGet("$basePath/statetypeexpand?version=$typeChange.getStateVersion()&type=$typeChange.getTypeName()&groupBy=$groupBy&expandGroupId=" + expandGroupId);
}

function httpGet(theUrl) {
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

</script>

Group By: &nbsp;
#foreach($option in $groupByOptions)
	#if($groupBy.equals(""))
		<a href="$basePath/statetype?version=$typeChange.getStateVersion()&type=$typeChange.getTypeName()&groupBy=$option">$option</a> &nbsp;
	#else
		<a href="$basePath/statetype?version=$typeChange.getStateVersion()&type=$typeChange.getTypeName()&groupBy=$groupBy,$option">$option</a> &nbsp;
	#end
#end

<table border="1">
    <tr><th colspan="2" align="left"><font size="+1"><b><i>$typeChange.getTypeName()</i></b></font></th></tr>
	
	#if(!$typeChange.getModifiedRecords().isEmpty())
		<tr>
			<td valign="top">
				<b>Modified:<b><br/>
				($typeChange.getModifiedRecords().getDiffCount())
			</td>
			<td>
				#if($typeChange.getModifiedRecords().hasSubGroups())
					<ul>
						#foreach($changeGroup in $typeChange.getModifiedRecords().getSubGroups())
							<li>
								<a href="javascript:expandGroup('$changeGroup.getHierarchicalFieldName()')">$changeGroup.getGroupName() ($changeGroup.getDiffCount())</a>
								<div id="$changeGroup.getHierarchicalFieldName()"></div>
							</li>
						#end
					</ul>
				#else
				    #set( $count = 0 )
				    <table width="100%">
			            #foreach($recordDiff in $typeChange.getModifiedRecords().getRecordDiffs())
			                #if($count == 5000)
			                    <tr><td colspan="5" align="center"><b>(TRUNCATED AFTER 5000 RECORDS)</b></td></tr>
			                    #break
			                #elseif($count % 5 == 0)
			                    <tr>
			                #end
			                <td><a href="$basePath/historicalObject?version=$typeChange.getStateVersion()&type=$typeChange.getTypeName()&keyOrdinal=$recordDiff.getKeyOrdinal()">$recordDiff.getIdentifierString()</a></td>
			                #set($count = $count + 1)
			                #if($count % 5 == 0)
			                </tr>
			                #end
			            #end
			            #if($count % 5 != 0)
			                </tr>
			            #end
				    </table>
				#end
			</td>
		</tr>
	#end
	
	#if(!$typeChange.getAddedRecords().isEmpty())
		<tr>
			<td valign="top">
				<b>Added:<b><br/>
				($typeChange.getAddedRecords().getDiffCount())
			</td>
			<td>
				#if($typeChange.getAddedRecords().hasSubGroups())
					<ul>
						#foreach($changeGroup in $typeChange.getAddedRecords().getSubGroups())
							<li>
								<a href="javascript:expandGroup('$changeGroup.getHierarchicalFieldName()')">$changeGroup.getGroupName() ($changeGroup.getDiffCount())</a>
								<div id="$changeGroup.getHierarchicalFieldName()"></div>
							</li>
						#end
					</ul>
				#else
				    #set( $count = 0 )
				    <table width="100%">
			            #foreach($recordDiff in $typeChange.getAddedRecords().getRecordDiffs())
			                #if($count == 5000)
			                    <tr><td colspan="5" align="center"><b>(TRUNCATED AFTER 5000 RECORDS)</b></td></tr>
			                    #break
			                #elseif($count % 5 == 0)
			                    <tr>
			                #end
			                <td><a href="$basePath/historicalObject?version=$typeChange.getStateVersion()&type=$typeChange.getTypeName()&keyOrdinal=$recordDiff.getKeyOrdinal()">$recordDiff.getIdentifierString()</a></td>
			                #set($count = $count + 1)
			                #if($count % 5 == 0)
			                </tr>
			                #end
			            #end
			            #if($count % 5 != 0)
			                </tr>
			            #end
				    </table>
				#end
			</td>
		</tr>
	#end
	
	#if(!$typeChange.getRemovedRecords().isEmpty())
		<tr>
			<td valign="top">
				<b>Removed:<b><br/>
				($typeChange.getRemovedRecords().getDiffCount())
			</td>
			<td>
				#if($typeChange.getRemovedRecords().hasSubGroups())
					<ul>
						#foreach($changeGroup in $typeChange.getRemovedRecords().getSubGroups())
							<li>
								<a href="javascript:expandGroup('$changeGroup.getHierarchicalFieldName()')">$changeGroup.getGroupName() ($changeGroup.getDiffCount())</a>
								<div id="$changeGroup.getHierarchicalFieldName()"></div>
							</li>
						#end
					</ul>
				#else
				    #set( $count = 0 )
				    <table width="100%">
			            #foreach($recordDiff in $typeChange.getRemovedRecords().getRecordDiffs())
			                #if($count == 5000)
			                    <tr><td colspan="5" align="center"><b>(TRUNCATED AFTER 5000 RECORDS)</b></td></tr>
			                    #break
			                #elseif($count % 5 == 0)
			                    <tr>
			                #end
			                <td><a href="$basePath/historicalObject?version=$typeChange.getStateVersion()&type=$typeChange.getTypeName()&keyOrdinal=$recordDiff.getKeyOrdinal()">$recordDiff.getIdentifierString()</a></td>
			                #set($count = $count + 1)
			                #if($count % 5 == 0)
			                </tr>
			                #end
			            #end
			            #if($count % 5 != 0)
			                </tr>
			            #end
				    </table>
				#end
			</td>
		</tr>
	#end

	
</table>