#**
 *  Copyright 2016 Netflix, Inc.
 *
 *     Licensed under the Apache License, Version 2.0 (the "License");
 *     you may not use this file except in compliance with the License.
 *     You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *     Unless required by applicable law or agreed to in writing, software
 *     distributed under the License is distributed on an "AS IS" BASIS,
 *     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *     See the License for the specific language governing permissions and
 *     limitations under the License.
*#

<b>State: $currentStateVersion</b><p/>
#if($prevStateVersion != -1)
	<a href="$basePath/state?version=$prevStateVersion">&lt; prev version</a>
#end
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
#if($nextStateVersion != -1)
	<a href="$basePath/state?version=$nextStateVersion">&gt; next version</a>
#end
<table border="1">
    #foreach($summary in $typeChanges)
        <tr>
        	<td><a href="$basePath/statetype?version=$summary.getVersion()&type=$summary.getTypeName()">$summary.getTypeName()</a></td>
        	<td>
                <table width="100%"><tr>
                    <td align="left">$summary.getTotalChanges()</td>
                    <td align="right">(&#916: $summary.getModifications(), +: $summary.getAdditions(), -: $summary.getRemovals())</td>
                </tr></table>
            </td>
        </tr>
    #end
</table>

<p/>
