#**
 *  Copyright 2016 Netflix, Inc.
 *
 *     Licensed under the Apache License, Version 2.0 (the "License");
 *     you may not use this file except in compliance with the License.
 *     You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *     Unless required by applicable law or agreed to in writing, software
 *     distributed under the License is distributed on an "AS IS" BASIS,
 *     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *     See the License for the specific language governing permissions and
 *     limitations under the License.
*#

<link rel="stylesheet" type="text/css" href="$basePath/resource/diffview.css"/>

<script>

function uncollapseRow(uncollapseRowId) {
    var i = uncollapseRowId;
    var table = document.getElementById("difftable");
    var parentRow = document.getElementById("r" + i);
    var rowIndex = parentRow.rowIndex + 1;
    
    var rowData = httpGet("$basePath/diffrowdata?version=$version&type=$typeName&keyOrdinal=$keyOrdinal&row=" + i);
    
    var dataFields = rowData.split("|");
    
    for(i=0;i<dataFields.length;i+=8) {
        var newRow = table.insertRow(rowIndex++);
        newRow.id = "r" + dataFields[i+0];
        
        if(table.rows[rowIndex] && table.rows[rowIndex].id == newRow.id)
            table.deleteRow(rowIndex);
        
        if(dataFields[i+1] == "UNCOLLAPSE" || dataFields[i+1] == "PARTIAL_UNCOLLAPSE")
            newRow.onclick=(function(rowId) { return function() { uncollapseRow(rowId, false) }; })(dataFields[i+0]);
        else if(dataFields[i+1] == "COLLAPSE")
            newRow.onclick=(function(rowId) { return function() { collapseRow(rowId) }; })(dataFields[i+0]);
        
        var cell1 = newRow.insertCell(0);
        cell1.className="margin";
        if(dataFields[i+1] == "PARTIAL_UNCOLLAPSE") {
            cell1.innerHTML = "<img src=\"$basePath/resource/partial_expand.png\"/>";
        } else if(dataFields[i+1] == "UNCOLLAPSE") {
            cell1.innerHTML = "<img src=\"$basePath/resource/expand.png\"/>";
        } else if(dataFields[i+1] == "COLLAPSE") {
            cell1.innerHTML = "<img src=\"$basePath/resource/collapse.png\"/>";
        }

        var cell2 = newRow.insertCell(1);
        cell2.className = "margin";
        cell2.innerHTML = dataFields[i+2];

        var cell3 = newRow.insertCell(2);
        cell3.className = dataFields[i+3];
        cell3.innerHTML = dataFields[i+4];
        
        var cell4 = newRow.insertCell(3);
        cell4.className="margin";
        if(dataFields[i+1] == "PARTIAL_UNCOLLAPSE") {
            cell4.innerHTML = "<img src=\"$basePath/resource/partial_expand.png\"/>";
        } else if(dataFields[i+1] == "UNCOLLAPSE") {
            cell4.innerHTML = "<img src=\"$basePath/resource/expand.png\"/>";
        } else if(dataFields[i+1] == "COLLAPSE") {
            cell4.innerHTML = "<img src=\"$basePath/resource/collapse.png\"/>";
        }

        var cell5 = newRow.insertCell(4);
        cell5.className = "margin";
        cell5.innerHTML = dataFields[i+5];

        var cell6 = newRow.insertCell(5);
        cell6.className = dataFields[i+6];
        cell6.innerHTML = dataFields[i+7];
    }

    parentRow.onclick=function() { collapseRow(uncollapseRowId) };
    parentRow.cells[0].innerHTML="<img src=\"$basePath/resource/collapse.png\"/>";
    parentRow.cells[3].innerHTML="<img src=\"$basePath/resource/collapse.png\"/>";
    
    event = event || window.event;
    event.stopPropagation ? event.stopPropagation() : (event.cancelBubble=true)
}

function collapseRow(i) {
    var table = document.getElementById("difftable");
    var collapseBranch = "r" + i;
    var parentRow = document.getElementById("r" + i);
    var collapseResponse = httpGet("$basePath/collapsediffrow?version=$version&type=$typeName&keyOrdinal=$keyOrdinal&row=" + i);
    var responseFields = collapseResponse.split("|");
    
    var deleteRowIndex = parentRow.rowIndex + 1;
    var currentRow = table.rows[deleteRowIndex];
    var currentRowId = currentRow.id.substring(1);
    
    while(currentRow.id.lastIndexOf(collapseBranch, 0) === 0) {
        table.deleteRow(deleteRowIndex);
        currentRow = table.rows[deleteRowIndex];
        if(!currentRow)
            break;
    }
    
    parentRow.onclick=function() { uncollapseRow(i, false) };
    parentRow.cells[0].innerHTML="<img src=\"$basePath/resource/expand.png\"/>"
    parentRow.cells[3].innerHTML="<img src=\"$basePath/resource/expand.png\"/>"
}

function httpGet(theUrl) {
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

</script>
<table width="100%">
    <tr>
        <td valign="top" bgcolor="#cccccc" width="150">
            #foreach($changeVersion in $changeVersions)
                <a href="$basePath/historicalObject?version=$changeVersion.getVersionId()&type=$typeName&keyOrdinal=$keyOrdinal">$changeVersion.getDateDisplayString()</a>
                #if($changeVersion.getVersionId() == $version) 
                    &lt; 
                #end 
                <br/>
            #end
        </td>
        <td valign="top">
            <table class="diff" id="difftable">
            <thead><tr><th/><th/><th class="texttitle">From</th><th/><th/><th class="texttitle">To</th></tr></thead>
            <tbody>
            <tr id="root"><td class="margin"/><td class="margin"/><td class="equal">.&#x2515;&#x2501;&#x252F;&#x2501;&gt;($typeName)</td><td class="margin"/><td class="margin"/><td class="equal">.&#x2515;&#x2501;&#x252F;&#x2501;&gt;($typeName)</td></tr>
            $initialHtml
            </tbody>
            </table>
        </td>
    </tr>
</table>